@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+PhagsPa&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+PhagsPa&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

body {
  display: flex;
  align-items: center;
  font-family: "Google Sans", sans-serif;
}

aside {
  background-color: #f9f9f9;
  width: 300px;
  padding: 40px;
}

.aside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.menu .last {
  margin-bottom: 70px;
}

.menu-item {
  display: flex;
  align-items: center;
}
.menu-item div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.menu-item div .menu-item-bg {
  border-radius: 10px;
  width: 50px;
  height: 50px;
  background: #eceff7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}
.menu-item div .menu-item-bg:hover {
  cursor: pointer;
  box-shadow: 0 10px 20px 0 rgba(88, 92, 229, 0.25);
}
.menu-item div .active {
  box-shadow: 0 10px 20px 0 rgba(88, 92, 229, 0.25);
  background: #51459e;
}
.menu-item div p {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: #7987a5;
}

.menu-item-sec {
  display: flex;
  gap: 35px;
  margin-bottom: 20px;
}

.big-bg {
  border-radius: 13px;
  width: 178px;
  height: 238px;
  background: #cfc8ff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.big-bg button {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 11px;
  line-height: 143%;
  text-align: center;
  color: #5f75ee;
  background: #fff;
  border-radius: 13px;
  padding: 14px 35px;
  width: 140px;
  height: 46px;
  border: none;
}
.big-bg button:hover {
  cursor: pointer;
  box-shadow: 0 10px 20px 0 rgba(88, 92, 229, 0.25);
}

main {
  padding: 20px;
}
main .main-sec-search {
  position: relative;
}
main .main-sec-search input {
  border-radius: 40px;
  width: 594px;
  height: 48px;
  background: #f7f8fa;
  padding: 0 50px;
  border: none;
  outline: none;
}
main .main-sec-search img {
  position: absolute;
  top: 12px;
  left: 20px;
}
main .main-sec {
  margin-top: 85px;
}
main .main-sec .main-sec-title {
  position: relative;
  width: 167px;
}
main .main-sec .main-sec-title h1 {
  font-family: "Bungee Shade";
  font-weight: 400;
  font-size: 36px;
  line-height: 124%;
  letter-spacing: 0.09em;
  color: #393939;
  letter-spacing: -0.02em;
  margin-bottom: 30px;
}
main .main-sec .main-sec-title div {
  border-radius: 100%;
  background-color: #f9896b;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  right: -85px;
}
main .main-sec .main-sec-title div p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.main-sec-currency-sec {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px;
}
.main-sec-currency-sec div:nth-child(2) {
  background: #fde4f9;
}
.main-sec-currency-sec div:nth-child(3) {
  background: #b5e0e9;
}
.main-sec-currency-sec .main-sec-currency {
  border-radius: 10px;
  width: 180px;
  height: 263px;
  background: #fdedd5;
  padding: 10px;
}
.main-sec-currency-sec .main-sec-currency .currency-more-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.main-sec-currency-sec .main-sec-currency .currency-more-sec p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: #000;
}
.main-sec-currency-sec .main-sec-currency img {
  margin-bottom: 15px;
}
.main-sec-currency-sec .main-sec-currency .currency-img {
  width: 65px;
}
.main-sec-currency-sec .main-sec-currency .currency-img2 {
  width: 100px;
}
.main-sec-currency-sec .main-sec-currency b {
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 22px;
  letter-spacing: -0.06em;
  color: #3e3c7b;
  margin-bottom: 20px;
  width: 100px;
}
.main-sec-currency-sec .main-sec-currency .currency-p {
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 12px;
  color: #3e3c7b;
  margin-top: 20px;
}
.main-sec-currency-sec .main-sec-currency:hover {
  box-shadow: #393939 0 10px 20px 0;
  transition: all 0.3s ease-in-out;
}

.main-sec .main-sec-line-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.main-sec .main-sec-line-sec .line-btn {
  border-radius: 100%;
  fill: #fff;
  box-shadow: 19px 22px 45px 0 rgba(0, 0, 0, 0.1);
  margin-top: 22px;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}
.main-sec .main-sec-line-sec .line-btn:hover {
  box-shadow: 0 10px 20px 0 rgba(88, 92, 229, 0.25);
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.main-sec .line {
  border-radius: 24px;
  width: 332px;
  height: 7px;
  background: #f7f8fa;
  position: relative;
  margin-bottom: 22px;
}
.main-sec .line .line_cursor {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 150px;
  border-radius: 24px;
  width: 71px;
  height: 7px;
  background: #3936fc;
}

.latest-activities-sec .latest-activities-title h1 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 30px;
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px;
}
.latest-activities-sec .latest-activities-title .latest-activities-title-p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}
.latest-activities-sec .latest-activities-title .latest-activities-title-p p {
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 16px;
  color: #6f767e;
}
.latest-activities-sec .latest-activities-title .latest-activities-title-p a {
  font-family: var(--font5);
  font-weight: 400;
  font-size: 18px;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #6f767e;
}

.latest-activities-title-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.latest-activities-title-sec .latest-activities-title-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.latest-activities-title-sec .latest-activities-title-buttons div {
  border-radius: 10px;
  width: 41px;
  height: 41px;
  background: #f7f7f9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.latest-activities-title-sec .latest-activities-title-buttons div:hover {
  box-shadow: 0 10px 20px 0 rgba(88, 92, 229, 0.25);
  transition: all 0.3s ease-in-out;
}
.latest-activities-title-sec .latest-activities-title-buttons div:nth-child(2) {
  background: #51459e;
}

.latest-activities-content {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 44px;
}
.latest-activities-content .latest-activities-content-img {
  border-radius: 10px;
  width: 51px;
  height: 51px;
  background: #1a55af;
  opacity: 0.1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.latest-activities-content div b {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #000;
}
.latest-activities-content div p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #6f767e;
}

.latest-activities-content-img2 {
  background: #fa5f1c;
  opacity: 0.1;
  border-radius: 10px;
  width: 51px;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 60px;
}
.aside-title p {
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 16px;
  color: #6f767e;
}
.aside-title p:nth-child(2) {
  margin-right: 100px;
}
.aside-title div {
  border-radius: 10px;
  width: 50px;
  height: 50px;
  box-shadow: inset 3px 3px 3px -1px rgba(34, 58, 120, 0.05), inset -6px -6px 3px -4px rgba(232, 235, 243, 0.77), 0 20px 13px 0 rgba(41, 72, 152, 0.03), 0 39px 25px 0 rgba(41, 72, 152, 0.03), 0 65px 47px 0 rgba(41, 72, 152, 0.04), 0 100px 80px 0 rgba(41, 72, 152, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.03);
}
.aside-title div img {
  width: 50px;
  height: 50px;
}

.aside-payments-sec {
  display: flex;
  flex-direction: column;
}
.aside-payments-sec .aside-payments-sec-title {
  display: flex;
  align-items: center;
  gap: 96px;
  margin-top: 90px;
  margin-bottom: 30px;
}
.aside-payments-sec .aside-payments-sec-title h1 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 34px;
  color: #000;
}
.aside-payments-sec .aside-payments-sec-title p {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #000;
}
.aside-payments-sec .aside-payments {
  border-radius: 10px;
  width: 344px;
  height: 118px;
  box-shadow: 0 21px 79px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  padding: 10px;
  flex-direction: column;
  display: flex;
  margin-top: 10px;
}
.aside-payments-sec .aside-payments-content {
  display: flex;
  align-items: center;
  gap: 40px;
}
.aside-payments-sec .aside-payments-content div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.aside-payments-sec .aside-payments-content div:nth-child(1) img:nth-child(2) {
  margin-right: 65px;
}
.aside-payments-sec .aside-payments-content div:nth-child(2) {
  border-radius: 10px;
  width: 100px;
  height: 25px;
  box-shadow: 0 7px 27px 0 rgba(0, 0, 0, 0.07);
  background: #fff;
}
.aside-payments-sec .aside-payments-avatars {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.aside-payments-sec .aside-payments-avatars P {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: #1b1d4e;
  margin-right: 150px;
}

.aside-payments-new {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 344px;
  height: 50px;
  background: #51459e;
  opacity: 0.5;
  position: relative;
  margin-top: 35px;
}
.aside-payments-new div:nth-child(1) {
  border-radius: 10px;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 27px 0 rgba(0, 0, 0, 0.06);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 10px;
}
.aside-payments-new .aside-payments-new-p {
  display: flex;
  align-items: center;
  margin-left: 65px;
}
.aside-payments-new .aside-payments-new-p p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: #51459e;
  gap: 15px;
}/*# sourceMappingURL=main.css.map */